@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

p, h1, h2 , h3 {
    text-align: center;
}

/* HEADER */
.header {
    position: fixed;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    padding: 30px 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}



.logo {
    flex-basis: 50%;
}

.logo img {
    width: 100%;
    height: auto;
     /* Tama침o en m칩viles */
}

.treslineas {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
}

.menu-icono {
    max-width: 22%;
    cursor: pointer;
    margin-right: 20px;
}

/* 游댳 Ocultar el checkbox */
#menu {
    display: none;
}

/* ---- MEN칔 LATERAL ---- */
.menupc{
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Oculto fuera de pantalla */
    width: 250px;
    height: 100vh; /* 100% de la pantalla */
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 50px;
    transition: left 0.3s ease-in-out;
}

/* Lista dentro del men칰 */
.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: block;
}

/* Mostrar men칰 cuando se active */
#menu:checked ~ .menu {
    left: 0;
}

/* 游댳 Overlay: cierra el men칰 al hacer clic fuera */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.Inicio{
    display: flex;
    background: linear-gradient(  rgba(77, 77, 77, 0.786),  rgba(29, 30, 35, 0.253) ), url(img/inicio.jpg);
    background-position:  center;
    background-size: cover;
    width: 100%;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

.Inicio h1 {
    padding: 0 20px;
    padding-top: 85px;

    font-size: 1.56rem;
    color: #f5f5f5;
}

/* ---MAIN--- */


/* -- servicios -- */
.servicios {
    padding: 40px 20px;
  }

.servicios h2{
    margin-bottom: 30px;

}
  
.servicio {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 35px;
    align-items: center;
    box-shadow: 8px -1.5px 29px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.servicio:hover{
  transform: scale(1.02);
}
  
.servicio img {
    margin: 10px 0 0 px;
    width: 280px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.14);

}
  
.servicio h3 {
    margin-top: 15px;
    color: #b62626;
    font-size: 18px;
}
  
.servicio p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

/* -- QS -- */

.QS {
  background-color: #b62626db;
  padding: 60px 20px;
  color: #f5f5f5;
  text-align: center;
  position: relative;
}
  
.qs-content {
  max-width: 600px;
    margin: 0 auto;
}
  
.QS h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
  
.QS p {
  font-size: 15px;
  margin-bottom: 25px;
  padding: 0 10px;
  line-height: 1.6;
}

.qs-content-img{
  width: 100%;
  border-radius: 6%;
  border: 3px solid #b626266c; /* El borde tendr치 un grosor de 5px y un color rojo */
  padding: 5px; /* Espaciado entre la imagen y el borde */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: transform 0.3s ease; /* Animaci칩n para un efecto de hover */
}

.qs-content-img:hover{
  transform: scale(1.05); /* Aumenta ligeramente el tama침o de la imagen */
}

.wave-top {
  position: absolute;
  top: -60px; /* Sube la onda hacia la parte superior */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); /* Rota la onda para que se vea en la parte superior */
}

.wave-top svg {
    display: block;
    width: 100%;
    height: 60px;
}

/* Estilos para la onda en la parte inferior */
.wave-bottom {
    position: absolute;
    bottom: -60px; 
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg); 
}

.wave-bottom svg {
    display: block;
    width: 100%;
    height: 60px;
}
/* ----FOTOS MAQUINARIA ----- */

.maquinaria-galeria {
  margin-top: 60px;
  text-align: center;
  background-color: #f9f9f9; /* Fondo claro para resaltar las im치genes */
}

.maquinaria-galeria h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
  
.maquinaria-galeria p {
  font-size: 15px;
  margin-bottom: 25px;
  padding: 0 10px;
  line-height: 1.6;
}

.maquinaria-galeria img{

  width: 100%;
  max-width: 300px; /* Limita el tama침o m치ximo de las im치genes */
  height: auto;
  margin: 25px 0 0 0px;
  border-radius: 50px; /* Bordes redondeados para un mejor aspecto */
 
  border: 2px solid #d8d8d8;               /* borde fino y elegante */
  border-radius: 10px;                      /* curvatura suave */
  box-shadow:
    0 4px 14px rgba(0, 0, 0, 0.12),         /* sombra suave */
    0 1px 4px rgba(0, 0, 0, 0.08);          /* sombra secundaria */
  
  background-color: #ffffff;                /* fondo blanco (look limpio) */
  padding: 6px;  
  }


/* ---GALERY ENLACE--- */
.maquinaria {
  background-color: #ffffff; /* Fondo blanco como mencionaste */
  padding: 10px 0px;
  text-align: center;
  margin: 1rem 0px;

}

.contenedor-maquinaria {
  padding: 20px;
  border-radius: 8px;
}

.descripcion {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333; /* Color oscuro para mejorar la legibilidad */
}

/* Estilo del bot칩n */
.btn-maquinaria {
  background-color: #b62626;
  color: white;
  padding: 12px 47px;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 30px; /* Borde redondeado */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transici칩n para el hover */
  display: inline-block; /* Permite que el bot칩n se comporte correctamente */
}

.btn-maquinaria:hover {
  background-color: #9a2020;
  transform: scale(1.05); /* Efecto de agrandar el bot칩n al pasar el rat칩n */
}

.btn-maquinaria:focus {
  outline: 3px solid #9a2020; /* Agrega un borde cuando el bot칩n est치 enfocado (mejora la accesibilidad) */
}


/* ---FOOTER--- */
.footer {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #444;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
  }
  
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
    border-bottom: 1px solid #444;
    width: 100%;
    padding-bottom: 38px;
  }
  
  .footer-item:last-child {
    border-bottom: none;
  }
  
  .footer-item img {
    width: 32px;
    height: 32px;
    filter: invert(1);
    transition: transform 0.2s ease;
  }
  
  .footer-item img:hover {
    transform: scale(1.1);
  }
  
  .footer-item.linkedin img {
    width: 55px;
    height: 55px;
  }
  
  .footer-item img[src*="wsppng"] {
    width: 45px;
    height: 45px;
  }
  
  .footer-item a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-item a:hover {
    color: #b62626;
  }
  
  .footer-label {
    font-weight: bold;
    font-size: 13px;
    color: #bbbbbb;
    margin-bottom: 4px;
    text-align: center;
  }
  
  .footer-bottom {
    padding-top: 20px;
    font-size: 12px;
    color: #bbbbbb;
  }
  

  /* modo COMPUTADOR */
  @media screen and (min-width: 768px) {
    .header {
        padding: 25px 50px;
        position: fixed; 
        top: 0; 
        left: 0;
        right: 0;
        z-index: 100; 
        background-color: #fff; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
      }
      
      .logo img {
        max-width: 200px;
      }
      
      .treslineas,
      #menu,
      .menu,
      .overlay {
        display: none;
      }
      
      .menupc {
        display: flex;
        gap: 40px;
        align-items: center;
        font-size: 18px;
      }
      
      .menupc a {
        color: #000;
        text-decoration: none;
      }
      
      .menupc a:hover {
        color: #b62626;
      }
      
      /* SECCI칍N INICIO */
      .Inicio {
        margin-top: 120px; 
      }
      
      .Inicio h1 {
        font-size: 2.5rem;
        padding-top: 20px;
        max-width: 900px;
      }
      
      /* SERVICIOS */
      .servicios {
        padding: 60px 80px;
        text-align: center;
      }
      
      .servicios h2 {
        font-size: 30px;
        margin-bottom: 40px;
      }
      
      .servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .servicios-container {
        display: flex;
        justify-content: center;
        gap: 50px; 
        width: 100%;
        max-width: 1200px;
        flex-wrap: wrap;
      }
      
      .servicio {
        flex: 1;
        max-width: 37%;
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
      
      .servicio:hover {
        transform: scale(1.07);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      }
      
      .servicio img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
      
      .servicio h3 {
        font-size: 20px;
        margin-top: 15px;
        color: #b62626;
      }
      
      .servicio p {
        font-size: 16px;
        color: #333;
        line-height: 1.6;
      }
      
      /* QUI칄NES SOMOS */
      .QS {
        display: flex;
        background-color: #b62626db;
        padding: 80px 20px;
        color: #f5f5f5;
      }
    
      .qs-content {
        flex-basis: 50%; 
        display: flex; 
        flex-direction: column; 
        justify-content: flex-start; 
        text-align: left;  
        max-width: 1200px;
        margin: 0 auto;
      }
    
      .qs-content h1 {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: left;
      }
    
      .qs-content p {
        font-size: 18px;
        line-height: 1.7;
        margin-right: 20px;
        text-align: left;  
      }
    
      .qs-content-img {
        width: 50%;
        max-width: 400px;
        margin-left: 20px;
        border-radius: 6%;
        padding: 5px;
        margin-right: 5rem;
      }

      .imagenes-maquinaria {
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 70px;            
        margin-top: 30px;
        flex-wrap: wrap;      
      }

      .maquinaria-galeria img {
        max-width: 350px;
        border-radius: 12px;
        padding: 8px;
        transition: transform 0.3s ease;
      }

      .maquinaria-galeria h1 {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
      }
    
      .maquinaria-galeria p {
        font-size: 18px;
        line-height: 1.7;
        margin-right: 20px;
        text-align: center;  
      }

      

     



      /* FOOTER */
      .footer {
        flex-direction: column;
        padding: 50px 40px;
        font-size: 15px;
      }
    
      .footer-section {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        max-width: 1000px;
        margin: 0 auto;
        text-align: left;
      }
    
      .footer-item {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        border-bottom: none;
        padding: 10px;
        width: auto;
      }
    
      .footer-item p,
      .footer-item a {
        margin: 0;
        text-align: left;
      }
    
      .footer-label {
        margin: 0;
        text-align: left;
        font-size: 14px;
      }
    
      .footer-bottom {
        font-size: 13px;
        text-align: center;
      }

      .footer-item ubicacion {
        display: inline-block;
      } 
    }